<div class="row  ">
  <div class="col-md-12 ">
    <div class="container">
      <div class="row ">

        <div class="col-md-6">
          <h1>HAZ TU RESERVA</h1>
          <p>¡Bienvenido! Estamos aquí para ayudarte a planificar tus próximas vacaciones o viaje de
            negocios. Sabemos que la planificación puede ser abrumadora, pero no te preocupes, estamos
            aquí para hacerlo más fácil para ti. Nuestro equipo dedicado y experimentado está listo para
             ayudarte a encontrar el alojamiento perfecto y hacer que tu experiencia sea lo más memorable
              posible. ¡No esperes más, reserva con nosotros hoy y comienza a vivir la aventura de tus
            sueños!</p>
        </div>

        <div class="col-md-6">
          <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
            <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input type="text" id="nombre" class="form-control" formControlName="nombre" required>
            </div>
            <div class="form-group">
              <label for="correo">Correo electrónico:</label>
              <input type="email" id="correo" class="form-control" formControlName="correo" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
          <div *ngIf="formularioEnviado" class="alert alert-success mt-3">
            La información  ha sido enviada a tu correo. 
          </div>
        </div>


      </div>

    </div>

  </div>
</div>
